@charset "utf-8";
@import url(common.css);

#wrap {
	width:100%;
}

header {
	position:relative;
	height:600px;
	margin:0 auto;
}

.burger_icon {
	position:absolute;
	top:25px;
	margin-left:30px;
}

.burger_icon>.fas {
	color:#fff;
	font-size:1.6em;
}

.burger_icon>.fas:hover {
	color:#c21718;
	cursor:pointer;
}

.header_logo {
	/* display:inline-block; */
	text-align:center;
	padding-top:20px;
}

.header_info {
	position:absolute;
	right:0;
	top:25px;
	margin-right:5%;
}

.header_info>li:nth-child(1),.header_info>li:nth-child(2) {
	display:none;
}

.order_btn {
	float:left;
	margin-top:5%;
	color:#f5f4f4;
}

.order_btn:hover {
	color:#c21718;
	cursor:pointer;
}

.header_menu {
	display: none;
}

.banner {
	position:absolute;
	top:0;
	z-index:-1;
	width:100%;
	height:600px;
	background:url(../images/main_tablet.png) no-repeat center center;
}

/* content */
.content {
	width:100%;
	padding-top:30px;
	/* background-color:aqua; */
}

/* contentinner1 */
.contentInner1 {
	width:40%;
	float:left;
	position:relative;
	flex-direction:column;
	/* background-color:aqua; */
	padding-top:40px;
}


.event {
	font-family:NotoSans;
	font-size:1.7em;
	line-height:2em;
	padding-bottom:10px;
	font-weight:bold;
	text-align:center;
}

.text {
	font-family:NotoSansKr;
	font-size:1em;
	line-height:1.8em;
	text-align:center;
	padding:10px 30px;
}

.text>br:nth-child(3) {
	display:none;
}

.sns_icon {
	width:80%;
	position:relative;
	display:flex;
	padding-top:30px;
	margin-bottom:80px;
}

.sns_icon>ul>li {
	font-family:NotoSans;
	font-size:12px;
	line-height:2em;
	font-weight:bold;
}

.sns_icon>ul>li:last-child {
	background-color:#e09631;
	color:#fff;
	border-radius:10px;
	border:2px solid #fff;
}

.sns_icon>ul>li:last-child:hover {
	background-color:#fff;
	color:#e09631;
	border:2px solid #e09631;
	box-sizing:border-box;
	border-radius:10px;
	cursor:pointer;
}

/* event_list */
.event_list {
	width:60%;
	padding-top:50px;
	padding-bottom:20px;
	display:flex;
	flex-wrap:wrap;
	/* background-color:pink; */
}

.event_list>div {
	width:40%;
	padding-bottom:30px;
}

.event_img>img {
	width:100%;
	border-radius:15px 15px 0 0;
}

.sns_name {
	width:100%;
	height:35px;
	line-height:35px;
	text-indent:8%;
	font-size:70%;
	background-color:#f5f4f4;
	border-radius:0 0 10px 10px;
	color:#666;
	font-family:NotoSans;
	font-weight:bold;
}

/* contentInner2 */
.contentInner2 {
	display:none;
}

/* contentInner3 */
.ds_banner {
	margin-top:30px;
	position:relative;
	height:150px;
	width:100%;
	display:flex;
}

.ds_banner>div {
	width:50%;
	position:relative;
	color:#fff;
	z-index:0;
}

.delivery_banner {
	background-color:#c21718;
}

.store_banner {
	background-color:#322920;
}

.ds_banner>div>p {
	padding-left:10%;
	font-size:10px;
	font-family:NotoSansKr;
	font-weight:bold;	
	line-height:2em;
	z-index:1;
}

.ds_banner>div>p:nth-child(1) {
	padding-top:40px;
	font-size:20px;
}

.ds_banner>div>p:nth-child(2) {
	font-size:15px;
}


.ds_banner>div>img {
	width:200px;
	position:absolute;
	right:15px;
	bottom:0;
	opacity:0.7;
	z-index:-1;
}

/* background_img */
.background_img {
	position:relative;
	width:100%;
	height:150px;
	background:url(../images/menu_bg.png) no-repeat center;
	background-size:cover;
}

.background_img>h3 {
	display:none;
}

.upper_img>p {
	font-family:TmonFont;
	text-align:center;
}

.upper_img>p:first-child {
	font-size:24px;
	line-height:2em;
	color:#c21718;
	padding-top:32px;
}

.recruit_btn {
	color:#333;
	line-height:30px;
}

.recruit_btn:hover {
	color:#c21718;
	cursor:pointer;
}

/* bottom_menu */
.bottom_menu {
	width:100%;
	height:230px;
	background-color:#cf4e37;
	text-align:center;
}

.b_main {
	font-family:NotoSans;
	font-weight:bold;
	color:#fff;
	padding-top:30px;
	width:85%;
}

.b_main>li {
	float:left;
	width:25%;
}

.b_sub {
	font-family:NotoSansKr;
	font-weight:normal;
	padding-top:15px;
	line-height:1.8em;
	font-size:0.9em;
}

.b_sub>li:hover {
	color:#e09631;
	cursor:pointer;
}

/* footer */
footer {
	position:relative;
	display:flex;
	flex-direction:column-reverse;
	justify-content:flex-end;
	padding-top:50px;
	font-size:0.8em;
	text-align:center;
	line-height:2em;
	color:#f5f4f4;
}

.footer_address>h2 {
	display:none;
}

.footer_address>div>address {
	padding-top:30px;
	font-style:normal;
}

.footer_address>div>address>span {
	display:none;
}

.footer_address>div>address>br:last-child {
	display:none;
}

.footer_info>ul {
	display:inline-block;
}

.footer_info>ul>li {
	float:left;
	font-size:1.1em;
	padding-bottom:30px;
}

.footer_info>ul>li:nth-child(2n-1):hover {
	color:#e09631;
	cursor:pointer;
}

.footer_info>p>br {
	display:none;
}

/* 메뉴팝업 */
.popup_menu {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:2000px;
	background-color: #f5f4f4;
	z-index: 100;
}

.popup {
	position: relative;
}

.close_btn>.fas {
	font-size: 1.8em;
	position:relative;
	top:20px;
	margin-left:30px;
	margin-bottom:30px;
}

.pop_main {
	position: relative;
}

.pop_main>li {
	padding-left:30px;
	font-size:1.5em;
	line-height:2.3em;
	border-bottom: 1px solid #ccc;
}

.pop_main>li:hover {
	cursor: pointer;
}

.pop_main>li:last-child {
	border: 0;
}

.pop_sub>li {
	font-size:1.2rem;
	line-height:2.2rem;
}

.pop_sub>li:last-child {
	padding-bottom: 15px;
}

.pop_sub>li:hover {
	color:#e09631;
	cursor:pointer;
}